# Byte-compiled files
__pycache__/
*.py[cod]

# Cython debug symbols
cython_debug/

# Virtual environment
venv/
ENV/
env/
.venv/

# Pytest cache
.pytest_cache/

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# VS Code
.vscode/

# PyCharm
.idea/

# MacOS
.DS_Store

# Windows
Thumbs.db

# Build directories
bin/
obj/

# Log Files
default_log.txt